<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<a href="/">Show All Courses</a><br />
Content : <span th:text="${message.content}" ></span><br />
Posteddate : <span th:text="${message.posteddate}"></span><br />
Sentby : <p th:text="${message.sentby}"></p><br />

<a th:href="@{/delete/{id}(id=${message.id})}">Delete this course</a>

</body>
</html>
